body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../city.jpg');
    background-size: cover;
    font-size: 120%;
}

.card{
    background: rgb(16, 97, 105);
    {% load static %}
    background-image: url("{% static 'webapp/snow.jpg' %}");
    background-size: auto;
    opacity: 0.9;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 380px;
    margin: 1em;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1.temp{
    margin: 0;
}
